<div class="monsterWrapper">
  <div class="monsterCard" *ngIf="parentData">
    <div class="monsterHeader">
      <div class="monsterHeaderTop">
        <h1 *ngIf="!editState">{{parentData.name}} CR {{parentData.challenge_rating}}</h1>
        <mat-form-field *ngIf="editState" appearance="fill">
          <input matInput type="text" [(ngModel)]="parentData.name">
        </mat-form-field>
        <p *ngIf="editState">CR</p>
        <mat-form-field *ngIf="editState" appearance="fill">
          <input matInput type="text" [(ngModel)]="parentData.challenge_rating">
        </mat-form-field>
        <button (click)="changeState()">
          <i class="material-icons">
            edit
          </i>
        </button>
      </div>
      <p>{{parentData.size}} {{parentData.type}} {{parentData.subtype}} {{parentData.alignment}}</p>
      <div class="punctuation">
        <div class="line"></div>
        <div class="lineTip"></div>
      </div>
    </div>
    <div class="monsterStats">
      <div class="left">
        <div class="monsterBattleStats">
          <p *ngIf="!editState"><span>Armor class</span> - {{parentData.armor_class}}</p>
          <p *ngIf="editState"><span>Armor class</span> -
            <mat-form-field appearance="fill">
              <input matInput type="text" [(ngModel)]="parentData.armor_class">
            </mat-form-field>
          </p>
          <p matTooltip="Hit dice {{parentData.hit_dice}}"><span>Hit points</span> - {{parentData.hit_points}}
          </p>
          <p><span>Speed</span> - {{parentData.speed}}</p>
        </div>
        <div class="punctuation">
          <div class="line"></div>
          <div class="lineTip"></div>
        </div>
        <div class="monsterStatistics">
          <p *ngIf="parentData.strength">STR - {{parentData.strength}}</p>
          <p *ngIf="parentData.dexterity">DEX - {{parentData.dexterity}}</p>
          <p *ngIf="parentData.constitution">CON - {{parentData.constitution}}</p>
          <p *ngIf="parentData.intelligence">INT - {{parentData.intelligence}}</p>
          <p *ngIf="parentData.wisdom">WIS - {{parentData.wisdom}}</p>
          <p *ngIf="parentData.charisma">CHA - {{parentData.charisma}}</p>
        </div>
        <div class="punctuation">
          <div class="line"></div>
          <div class="lineTip"></div>
        </div>
        <div class="monsterSaves">
          <p *ngIf="parentData.strength_save">Str save - {{parentData.strength_save}}</p>
          <p *ngIf="parentData.dexterity_save">Dex save - {{parentData.dexterity_save}}</p>
          <p *ngIf="parentData.constitution_save">Con save - {{parentData.constitution_save}}</p>
          <p *ngIf="parentData.intelligence_save">Int save - {{parentData.intelligence_save}}</p>
          <p *ngIf="parentData.wisdom_save">Wis save - {{parentData.wisdom_save}}</p>
          <p *ngIf="parentData.charisma_save">Cha save - {{parentData.charisma_save}}</p>
        </div>
        <div class="monsterAbilities">
          <p *ngIf="parentData.animal_handling">Animal handling - {{parentData.animal_handling}}</p>
          <p *ngIf="parentData.arcane">Arcane - {{parentData.arcane}}</p>
          <p *ngIf="parentData.athletics">Athletics - {{parentData.athletics}}</p>
          <p *ngIf="parentData.deception">Deception - {{parentData.deception}}</p>
          <p *ngIf="parentData.history">History - {{parentData.history}}</p>
          <p *ngIf="parentData.insight">Insight - {{parentData.insight}}</p>
          <p *ngIf="parentData.intimidation">Intimidation - {{parentData.intimidation}}</p>
          <p *ngIf="parentData.investigation">Investigation - {{parentData.investigation}}</p>
          <p *ngIf="parentData.medicine">Medicine - {{parentData.medicine}}</p>
          <p *ngIf="parentData.nature">Nature - {{parentData.nature}}</p>
          <p *ngIf="parentData.perception">Perception - {{parentData.perception}}</p>
          <p *ngIf="parentData.performance">Performance - {{parentData.performance}}</p>
          <p *ngIf="parentData.persuasion">Persuasion - {{parentData.persuasion}}</p>
          <p *ngIf="parentData.religion">Religion - {{parentData.religion}}</p>
          <p *ngIf="parentData.sleight_of_hand">Sleight of hand - {{parentData.sleight_of_hand}}</p>
          <p *ngIf="parentData.stealth">Stealth - {{parentData.stealth}}</p>
          <p *ngIf="parentData.survival">Survival - {{parentData.survival}}</p>
        </div>
        <div class="punctuation">
          <div class="line"></div>
          <div class="lineTip"></div>
        </div>
        <div class="monsterResistance">
          <p *ngIf="parentData.damage_vulnerabilities">Vulnerabilities
            - {{parentData.damage_vulnerabilities}}</p>
          <p *ngIf="parentData.damage_resistances">Resistances - {{parentData.damage_resistances}}</p>
          <p *ngIf="parentData.condition_immunities">Immunities - {{parentData.condition_immunities}}</p>
        </div>
        <div class="punctuation" *ngIf="parentData.damage_vulnerabilities">
          <div class="line"></div>
          <div class="lineTip"></div>
        </div>
        <div class="monsterSenses">
          <p *ngIf="parentData.senses">Sences - {{parentData.senses}}</p>
          <p *ngIf="parentData.languages">Languages - {{parentData.languages}}</p>
        </div>
        <div class="punctuation">
          <div class="line"></div>
          <div class="lineTip"></div>
        </div>
      </div>
      <div class="right">
        <img src="{{parentData.image}}">
      </div>
      <div class="monsterPowersWrapper">
        <h1>Powers</h1>
        <div class="monsterPowers" *ngFor="let ability of parentData.special_abilities">
          <p *ngIf="ability.name" ngClass="title"><span>{{ability.name}}</span> - {{ability.desc}}</p>
        </div>
      </div>
      <div class="punctuation">
        <div class="line"></div>
        <div class="lineTip"></div>
      </div>
      <h1>Actions</h1>
      <div class="monsterActions" *ngFor="let action of parentData.actions">
        <p *ngIf="action.name" ngClass="title"><span>{{action.name}}</span> - {{action.desc}}</p>
      </div>
      <div class="punctuation">
        <div class="line"></div>
        <div class="lineTip"></div>
      </div>
      <h1 *ngIf="parentData.legendary_actions">Legendary actions</h1>
      <div class="monsterLegendaryActions" *ngFor="let legendary_action of parentData.legendary_actions">
        <p *ngIf="legendary_action.name" ngClass="title"><span>{{legendary_action.name}}</span>
          - {{legendary_action.desc}}</p>
      </div>
    </div>
    <div *ngIf="!parentData">
      <h1>Details</h1>
    </div>
  </div>
</div>
