.punctuation {
  width: 50%;
  display: flex;

  .line {
    width: 100%;
    border: 2px solid red;
  }

  .lineTip {
    border-top: 2px solid transparent;
    border-left: 20px solid red;
    border-bottom: 2px solid transparent;
  }
}

.monsterWrapper {
  .monsterCard {

    .monsterHeader {
      width: 100%;
      margin: 20px 0;

      .monsterHeaderTop {
        display: flex;

        h1 {
          text-align: left;
          color: brown;
          margin: 0;
        }

        p {
          font-weight: bold;
          margin: 25px 0 0 0;
        }

        button {
          margin-left: auto;
          order: 2;
          height: 40px;
          width: 40px;
          background: transparent;
          border: none;
          cursor: pointer;
        }
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

    .monsterStats {
      .left {
        width: 50%;
        float: left;
        .monsterBattleStats {
          span {
            font-weight: bold;
            color: brown;
          }
        }
        .monsterStatistics{

        }
        .monsterSaves{

        }
        .monsterAbilities{

        }
        .monsterResistance{

        }
        .monsterSenses{

        }

        .punctuation{
          width: 80%;
        }
      }

      .right {
        width: 50%;
        float: right;
      }
    }

    .monsterPowersWrapper {
      clear: both;
      .monsterPowers {

      }
    }

    .monsterActions{

    }

    .monsterLegendaryActions{

    }
  }

  .title {
    span {
      font-weight: bold;
    }
  }

  .mat-grid-tile::ng-deep .mat-figure {
    display: block;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
}

::ng-deep .mat-input-wrapper {
  width: 400px !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0;
  width: 150px;
}
