<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Search" type="text" [(ngModel)]="searchTerm" name="spell">
  </mat-form-field>
</form>

<mat-card-actions>
  <button (click)="setCategory('Bard')">Bard</button>
  <button (click)="setCategory('Cleric')">Cleric</button>
  <button (click)="setCategory('Druid')">Druid</button>
  <button (click)="setCategory('Paladin')">Paladin</button>
  <button (click)="setCategory('Ranger')">Ranger</button>
  <button (click)="setCategory('Sorcerer')">Sorcerer</button>
  <button (click)="setCategory('Wizard')">Wizard</button>
  <button (click)="setCategory('')">Clear</button>
</mat-card-actions>

<!--<div *ngFor="let spell of spells$ | async">-->
  <!--<div>{{spell.name}}</div>-->
  <!--<div *ngFor="let spells of spell.school | keyvalue">-->
    <!--<p *ngIf="spells.key === 'name'">{{spells.value}}</p>-->
  <!--</div>-->
<!--</div>-->

<div class="spellBook">
  <div class="spellWrapper">
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="name">Name</th>
        <th mat-sort-header="level">Level</th>
        <th mat-sort-header="school">School</th>
        <th>Components</th>
        <th>Ritual</th>
        <th>Concentration</th>
      </tr>

      <tr *ngFor="let spell of sortedData | spellFilter: searchTerm" (click)="navigate(spell)"
          class="spell_row">
        <td>{{spell.name}}</td>
        <td>{{spell.level}}</td>
        <td>
          <div *ngFor="let spells of spell.school | keyvalue">
            <span *ngIf="spells.key === 'name'">{{spells.value}}</span>
          </div>
        </td>
        <td>{{spell.components}}</td>
        <td>{{spell.ritual}}</td>
        <td>{{spell.concentration}}</td>
      </tr>
    </table>
  </div>

  <div class="details-wrapper">
    <div class="detail">
      <app-spell-details [childMessage]="send"></app-spell-details>
    </div>
  </div>
</div>
