<h1>Initiative order</h1>
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" *ngIf="!isEmpty">
  <div class="example-box" *ngFor="let fighters of combatants | async" cdkDrag>
    {{fighters.name}}
    {{fighters.armor_class}}
    {{fighters.strength}}
    {{fighters.dexterity}}
    {{fighters.constitution}}
    {{fighters.intelligence}}
    {{fighters.wisdom}}
    {{fighters.charisma}}
  </div>
</div>
<div class="left">

  <input type="text" placeholder="name" #name>

  <button (click)="addCombatant(name.value)">Add a Combatant</button>
</div>
