<form class="search-field">
  <mat-form-field class="search-field-full">
    <input matInput placeholder="Search" type="text" [(ngModel)]="searchTerm" name="monster">
  </mat-form-field>
</form>

<mat-card-actions>
  <button (click)="setCategory('Aberration')">Aberration</button>
  <button (click)="setCategory('Beast')">Beast</button>
  <button (click)="setCategory('Celestial')">Celestial</button>
  <button (click)="setCategory('Construct')">Construct</button>
  <button (click)="setCategory('Dragon')">Dragon</button>
  <button (click)="setCategory('Elemental')">Elemental</button>
  <button (click)="setCategory('Fey')">Fey</button>
  <button (click)="setCategory('Fiend')">Fiend</button>
  <button (click)="setCategory('Giant')">Giant</button>
  <button (click)="setCategory('Humanoid')">Humanoid</button>
  <button (click)="setCategory('Monstrosity')">Monstrosity</button>
  <button (click)="setCategory('Ooze')">Ooze</button>
  <button (click)="setCategory('Plant')">Plant</button>
  <button (click)="setCategory('Undead')">Undead</button>
  <button (click)="setCategory('')">Clear</button>
</mat-card-actions>

<div class="bestiary">
  <div class="monsterWrapper">
    <mat-card class="example-card" *ngFor="let monster of monsters$ | async | monsterFilter: searchTerm let i = index">
      <mat-card-header>
        <mat-card-title (click)="navigate(monster)">
          <p>{{monster.name}}
            CR {{monster.challenge_rating}}</p>
          <input [(ngModel)]="monster.name" *ngIf="editState">
        </mat-card-title>
        <mat-card-subtitle>
          {{monster.type}}
        </mat-card-subtitle>
      </mat-card-header>
      <div class="imgContainer">
        <img mat-card-image src="{{monster.image}}" (click)="navigate(monster)" class="image">
      </div>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn">Add combat</button>
        <button mat-raised-button>Add story</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="details-wrapper">
    <div class="detail">
      <app-monster-detail [childMessage]="send"></app-monster-detail>
    </div>
  </div>
</div>
